.brand {
  max-width: 122.4rem;
  margin: 0 auto 20rem auto;
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(2.5rem);
  border-radius: 2.5rem;
  overflow: hidden;

  &__container {
    padding: 5.5rem 8.3rem;

    &::before {
      content: '';
      height: 15.9rem;
      width: 15.9rem;
      border-radius: 66rem;
      position: absolute;
      top: -11rem;
      left: -9.4rem;
      background: rgba(255, 72, 66, 0.4);
      filter: blur(3.6rem);
    }
  }

  &__heading {
    margin-bottom: 5.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }

  &__companies {
    max-width: 105.9rem;
    display: flex;
    justify-content: space-between;
  }
}
