.hero {
  display: flex;
  justify-content: space-between;
  max-width: 144rem;
  margin: 0 auto;

  &__left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__main {
    max-width: 60rem;
    min-height: 35.4rem;
  }

  &__heading {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 5rem;
    line-height: 140%;
    margin-bottom: 3rem;

    &::after {
      content: '.';
      color: $primary-orange;
    }
  }

  &__text {
    display: inline-block;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 6rem;
  }
}

.search {
  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    fill: $primary-light;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 1.8rem;
    cursor: pointer;
  }

  &__input {
    font-family: inherit;
    background-color: $primary-light;
    width: 90%;
    border: none;
    outline: none;
    padding: 2rem 1.8rem 2rem 5.5rem;
    border-radius: 1.5rem;
    margin-right: -12.3rem;
    color: rgba(255, 255, 255, 0.38);

    &::placeholder {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: rgba(255, 255, 255, 0.38);
    }
  }

  &__button {
    padding: 1.2rem 2.8rem;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 19rem;
  padding: 1.2rem;

  &__icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}
