.newcomer {
  max-width: 122.4rem;
  margin: 0 auto 20rem auto;

  &__flexbox {
    display: flex;
  }

  &__content-left {
    max-width: 42.7rem;
    min-height: 30rem;
  }

  &__heading {
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 3rem;
  }

  &__description-left {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 6rem;
    display: block;
  }

  &__description-right {
    font-size: 1.4rem;
  }

  &__button {
    padding: 1.5rem 4rem;
  }

  &__content-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 28.8rem;
    min-height: 28.4rem;
    padding: 2.8rem 2.2rem;

    &--first {
      margin-right: 2.4rem;
      margin-bottom: 5rem;
    }

    &--second {
      margin-bottom: 5rem;
      background: rgba(40, 48, 54, 0.6);
      backdrop-filter: blur(2.5rem);
      border-radius: 1.5rem;
      position: relative;
      top: -2rem;
      overflow: hidden;

      &::before {
        content: '';
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 5rem;
        position: absolute;
        top: -3.8rem;
        right: -2.4rem;
        background: rgba(255, 110, 48, 0.6);
        filter: blur(3.4rem);
      }

    }

    &--third {
      margin-right: 2.4rem;
    }
  }
}
